html {
    box-sizing: border-box;
    font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px **/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
/** Globales **/
img {
    max-width: 100%;
}
.contenedor {
    width: 95%;
    max-width: 120rem; /** = 1200px; **/
    margin: 0 auto;
}h1 {

    font-size: 3.8rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.6rem;
}

/** Utilidades **/
.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fw-300 {
    font-weight: 300;
}
.centrar-texto {
    text-align: center;
}
.d-block {
    display: block!important;
}
.contenido-centrado {
    max-width: 800px;
}

/* Header */
.site-header {
    background-color: rgba(223, 223, 223, 0.750);
    padding: 1rem 0 3rem 0;
}
.header-frm
{
    background-image: url("../Img/headerencuesta.jpg");
    padding: 1rem 0 3rem 0;
}
.logo{
    -webkit-filter: contrast(50%);
    filter: contrast(90%);
}
.site-header.inicio {
    background-image: url(../img/fondo.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 60rem;
    cursor: pointer;
    transition: all .5s ease;
}
.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
@media (min-width: 768px) {
    .contenido-header{
        text-align: left;
    }
}
.contenido-header h1 {
    color: #333333;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
}
.barra {
    padding-top: 3rem;
}
@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
/** Navegacion **/
.navegacion a {
    color: #000000;
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
}
@media (min-width: 768px) {
    .navegacion a {
        display: inline-block;
        font-size: 1.8rem; /** = 18px **/
        margin-right: 2rem;
    }
    .navegacion a:last-of-type {
        margin: 0;
    }
}
.navegacion a:hover {
    color: #71B100;
}
/**---**/
*{
    padding: 0px;
    margin: 0px;
}

.navegacion li a{
    padding: 10px 15px;
}
ul, ol{
    list-style: none;
}
.navegacion > li{
    float: left;
}
.navegacion li ul{
    display: none;
    position: absolute;
}
.navegacion li:hover > ul{
    display: block;
}
.navegacion li ul li{
    background-color: rgba(223, 223, 223, 0.750);
    position: relative;
}

/** Mobile Menu **/
.mobile-menu img {
    width: 5rem;
}
@media (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
.navegacion:target {
    display: block;
}
.navegacion {
    display: none;
}
@media (min-width: 768px) {
    .navegacion {
        display: block;
    }
}

/** Iconos Nosotros **/
@media (min-width: 768px) {
    .iconos-nosotros {
        display: flex;
        justify-content: space-between;
    }
}
.icono {
    text-align: center;
}
@media (min-width: 768px) {
    .icono {
        flex-basis: calc(33.3% - 1rem);
    }
}
.icono h3 {
    text-transform: uppercase;
}

/** Footer **/
.site-footer {
    background-color: rgba(223, 223, 223, 0.750);
    margin: 0;
}
.contenedor-footer {
    padding: 3rem 0;
    text-align: center;
}
@media (min-width: 768px) {
    .contenedor-footer {
        display: flex;
        justify-content: space-between;
    }
}
.site-footer nav {
    display: none;
}
@media (min-width: 768px) {
    .site-footer nav {
        display: block;
    }
}

.copyright {
    margin: 15px;
    color: #333333;
}

/** INTERNAS **/
/* Nosotros **/
@media (min-width: 768px) {
    .contenido-nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
    }
}

.texto-nosotros blockquote {
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0 3rem 0;
}

/*GRUPO**/
.info h1{
    color: #333333;
    font-size: 150%;
    text-align: center;
}
.info h2{
    color: #333333;
    font-size: 125%;
    text-align: center;
}
#tabla-grupo{
    margin: 50px auto;
    width: 500px;
}
table{
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}
th, td{
    padding: 5px;
}
thead{
    background-color: #246355;
    border-bottom: solid 5px #0f362d;
    color: white;
}
tr:nth-child(even){
    background-color: #ddd;
}
tr:hover td{
    background-color: yellowgreen;
    color: white;
}
/*TEMAS**/
.temas{
    color: #222;
    font-family: Helvetica;
    margin: 25px 150px ;
    padding: 20px;
    width: 1000px;
}
.temas{
    background-color: #ddd;
    border: 1px solid #999;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 40px;
}
.articulos{
    background-color: #eee;
    border: 1px solid #999;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
}
/* Página Productos */
@media (min-width: 768px) {
    .contenedor-productos{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
.productos {
    border: 1px solid #B5B5B5;
    background-color: #F5F5F5;
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .productos {
        flex: 0 0 calc(33.3% - 1rem);
    }
}
.contenido-producto {
    padding: 2rem;
}
.contenido-producto h3, 
.contenido-producto p  {
    margin: 0;
}
.precio {
    color: #71B100;
    font-weight: 700;
}
.iconos-caracteristicas {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    max-width: 500px;
}
.iconos-caracteristicas li {
    /* flex: 1; */
    display: flex;
}
.iconos-caracteristicas li img {
    margin-right: 2rem;
}
.ver-todas {
    display: flex;
    justify-content: flex-end;
}
.boton {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    border: none;
    display: block;
    flex: 0 0 100%;
}
@media (min-width: 768px) {
    .boton {
        display: inline-block;
        flex: 0 0 auto;
    }
}
.boton:hover {
    cursor: pointer;
}
.boton-amarillo {
    background-color: #E08709;
}
.boton-verde {
    background-color: #71B100;
}

/*Formularios*/  
.body-contacto{
    background: url(../Img/contacto.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
.contenedor-contacto .form .frm-header .frm-titulo{
    font-weight: normal;
    font-family: sans-serif;
    color: #ff851b;
    text-align: center;
    padding: 14px 0;
}
.contenedor-contacto .form .frm-header .frm-titulo span{
    color: white;
}
.contenedor-contacto .form{
    background: rgba(51, 77, 194, 0.781);
    width: 600px;
    max-width: 600px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 75px;
    margin-bottom: 35px;
    padding-bottom: 30px;
    border-radius: 10px;
}
.form .frm-label{
    display: block;
    color: #fff;
    font-size: 16px;
    font-family: Roboto;
    position: relative;
}
.form .frm-input{
    background-color: lightblue;   
}

.contenedor-contacto .form .text-area{
    background-color: lightblue;
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
}
.contenedor-contacto .form .frm-boton{
    width: 100px;
    font-family: Roboto;
    outline: none;
    background: #4f6e83;
    font-size: 12px;
    border: none;
    color: #fff;
    padding: 15px 0;
    cursor: pointer;
    transition: all .5s ease;
}
.contenedor-contacto .form .frm-boton:hover{
    background: #639e91;
}
/*Registro*/
.body-registro{
    background: url("../Img/clientes.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
.contenedor-contacto .form .log{
    text-align: center;
    
}
.contenedor-contacto .form .alogin{
    color: white;
    text-decoration: none;
}
.contenedor-contacto .form .alogin:hover{
    color: lightskyblue;
}
/*Encuesta*/
.body-encuesta{
    background-image: url("../Img/encuesta.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    cursor: pointer;
    transition: all .5s ease;
}
.contenedor-encuesta{
    font-family: cursive;  
    text-align: center;
    color: rgb(2, 19, 39);
    cursor: pointer;
    transition: all .5s ease;
}
.contenedor-encuesta .h1-encuesta{
    font-size: 25px;
}
.contenedor-encuesta .h2-encuesta{
    font-size: 20px;
}
.contenedor-encuesta .h3-encuesta{
    font-size: 15px;
}
.frm-encuesta{
    background: rgba(174, 188, 247, 0.781);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 50px;
    margin-bottom: 25px;
    padding-bottom: 30px;
    border-radius: 10px;
}
.formencuesta{
    cursor: pointer;
    transition: all .5s ease;
}
/*Ingreso productos*/
.body-ingresar
{
    background-image: url("../Img/ingresar.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    cursor: pointer;
    transition: all .5s ease;
}
.contenedor-ingreso{
    background: rgba(88, 116, 226, 0.781);
    font-family: Roboto;
    max-width: 600px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 50px;
    margin-bottom: 25px;
    padding-bottom: 30px;
    border-radius: 10px;
}
.frm-ingreso{
    background: rgba(4, 124, 108, 0.781);
    width: 500px;
    max-width: 500px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 20px;
    padding-bottom: 30px;
    border-radius: 20px;
}
.frm-ingreso .btn-ingreso{
    width: 100px;
    font-family: Roboto;
    outline: none;
    background: #110357;
    font-size: 12px;
    border: none;
    color: #fff;
    padding: 15px 0;
    cursor: pointer;
    transition: all .5s ease;
}
.frm-ingreso .btn-ingreso:hover{
    background: #b7ec61;
}
/*Login*/
.body-login{
    font-family: sans-serif;
    background-image: url("../Img/login.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    cursor: pointer;
    transition: all .5s ease;
}
.box{
    width: 500px;
    
    padding: 40px;
    position: relative;
    margin-top: 300px;
    margin-bottom: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(8, 26, 109, 0.781);
    text-align: center;
    border-radius: 10px;
}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type = "text"], .box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 14px;
    transition: 0.25s;
}
.box input[type = "text"]:focus, .box input[type = "password"]:focus{
    width: 280px;
    border-color: #2ecc71;
}
.box input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type = "submit"]:hover{
    background-color: #2ecc71;
}
.box input[type = "reset"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #a15207;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type = "reset"]:hover{
    background-color: #cc602e;
}
